<!-- Top Row with People -->
<div>
    <div class="top-row" >
      <div class="top-row-person" *ngFor="let contacts of contactsData; let i = index " (click)="selectChat(contacts.firstName, contacts.userId , i)">
        <img [src]="contacts.avatarUrl" alt="pic" class="profile-pic">
        {{contacts.firstName}} {{contacts.lastName}}
      </div>
    </div>
  <div class="chat-container">
    <!-- Side Navigation with Chat History -->
    <div class="side-nav">
      <div class="header-side-nav">
        <h2 class="h2-chat">Chat History</h2>
      </div>
      <mat-divider style = "margin-bottom: 10px; border-width: 5px ; color:black"></mat-divider>
      <div class="search-container">
        <mat-form-field>
        <mat-label>Search chat</mat-label>
        <input matInput type="text" [(ngModel)]="searchText" placeholder="Search by name...">
        </mat-form-field>
      </div>  
      
      <div class="person" *ngFor="let chat of filteredChatHistory(); let i = index" (click)="selectChat(chat.firstName, chat.receiverUserId, i)" [class.selected]="i === selectedChatIndex">
        <div class="chat-history-item">
          <img [src]="chat.avatarUrl" alt="{{ chat.firstName }}" class="chat-history-avatar">
          <span class="chat-person-name">{{ chat.firstName }}</span>
          <p class="last-message">{{ chat.message }}</p>
        </div>
      </div>
    </div>

    <!-- Central Area for Selected Chat -->
    <div class="central-chat">
      <div class="chat-header">
        <span>{{ selectedChat.personName }}</span>
      </div>
      <div class="chat-messages">
        <div
          *ngFor="let message of selectedChat.messages.slice().reverse()"
          class="message-container"
        >
          <div
            class="message"
            [ngClass]="{
              sent: message.sentBy === 'me',
              received: message.sentBy === 'friend'
            }"
          >
            {{ message.text }}
          </div>
        </div>
      </div>
      <div class="chat-input">
        <mat-form-field class="input-field">
          <input
            matInput
            [(ngModel)]="newMessage"
            (keyup.enter)="sendMessage()"
            placeholder="Type your message"
          />
        </mat-form-field>
        <button (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
