<!-- Top Row with People -->
<div>
    <div class="top-row" >
      <div class="top-row-person" *ngFor="let contacts of contactsData; let i = index " (click)="selectChat(contacts.firstName, contacts.userId , i)">
        <img class="image" [src]="contacts.avatarUrl" alt="pic" class="profile-pic">
        {{contacts.firstName}} {{contacts.lastName}}
      </div>
    </div>
  <div class="chat-container">
    <!-- Side Navigation with Chat History -->
    <div class="side-nav">
      <div class="header-side-nav">
        <h2 class="h2-chat">Chat History</h2>
      </div>
      <mat-divider style = "margin-bottom: 10px; border-width: 5px ; color:black"></mat-divider>
      <div class="search-container">
        <mat-form-field>
        <mat-label>Search chat</mat-label>
        <input matInput type="text" [(ngModel)]="searchText" placeholder="Search by name...">
        </mat-form-field>
      </div>  
      
      <div class="person" *ngFor="let chat of filteredChatHistory(); let i = index" (click)="selectChat(chat.firstName, chat.receiverUserId, i)" [class.selected]="i === selectedChatIndex">
        <div class="chat-history-item">
          <img [src]="chat.avatarUrl" alt="{{ chat.firstName }}" class="chat-history-avatar">
          <span class="chat-person-name">{{ chat.firstName }}</span>
          <p class="last-message">{{ chat.message }}</p>
        </div>
      </div>
    </div>

    <!-- Central Area for Selected Chat -->
    <div *ngIf = "isSelectedChat" class="central-chat" [style.backgroundImage]="centralChatBackgroundImage">
      <div class="chat-header">
        <span>{{ selectedChat.personName }}</span>
        <button id="settingsButton" (click)="toggleSettings()"></button>
      </div>
      <div class="chat-messages">
        <div
          *ngFor="let message of selectedChat.messages.slice().reverse()"
          class="message-container"
        >
          <div
            class="message"
            [ngClass]="{
              sent: message.sentBy === 'me',
              received: message.sentBy === 'friend'
            }"
          >
            {{ message.text }}
          </div>
        </div>
      </div>
      <div class="chat-input">
        <mat-form-field class="input-field">
          <input
            matInput
            [(ngModel)]="newMessage"
            (keyup.enter)="sendMessage()"
            placeholder="Type your message"
          />
        </mat-form-field>
        <button (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="!isSelectedChat" class="no-chat-selected">
      <mat-icon class="icon-size">chat</mat-icon>
      <div class="text-container">
        <p class="your-messages-text">Your messages</p>
        <p class="select-chat-text">Select chat and send messages</p>
      </div>
    </div>
  </div>


  <div class="overlay" *ngIf="showSettings">
    <div class="settings-div">

      <h1>Themes</h1>
      <button id="Theme1" (click)="toggleSettings();changeBackgroundToImage5()">White</button>
        <button id="Theme1" (click)="toggleSettings();changeBackgroundToImage6()"><img src="https://www.bhphotovideo.com/images/images500x500/Savage_27_12_107_x_12yds_Background_1441903824_45483.jpg" alt="" class="button-image"><div class="text-overlay">Black</div></button>
        <button id="Theme1" (click)="toggleSettings();changeBackgroundToImage1()"> <img src="https://images.assetsdelivery.com/compings_v2/mariabo2015/mariabo20152107/mariabo2015210700030.jpg"  alt="Image Description" class="button-image"></button>
        <button id="Theme1" (click)="toggleSettings();changeBackgroundToImage2()"> <img src="https://images.assetsdelivery.com/compings_v2/mariabo2015/mariabo20152107/mariabo2015210700027.jpg"  alt="Image Description" class="button-image"></button>
        <button id="Theme1" (click)="toggleSettings();changeBackgroundToImage3()"> <img src="https://media.istockphoto.com/id/1256183538/vector/hand-drawn-seamless-pattern-of-creatives-themes-doodle-element-set-vector-illustration.jpg?s=612x612&w=0&k=20&c=gkbWqXQqegrq1pwwY8H7k-QPavmBAnQlbZOhbwM7WV4="  alt="Image Description" class="button-image"></button>
        <button id="Theme1" (click)="toggleSettings();changeBackgroundToImage4()"> <img src="https://img.freepik.com/premium-vector/back-school-doodle-sketch-cartoon-seamless-pattern_221062-914.jpg"  alt="Image Description" class="button-image"></button>
      

    </div>
</div>
</div>
