.chat-container {
  display: flex;
  height: 83vh;
  width: 100%;
  overflow-x: auto;
  flex-direction: row;
  background-color: #efeded;
}

.top-row {
  height: 9vh;
  display: flex;
  padding: 10px;
  background-color: #efeded;
  transition: transform 0.3s;
  border-bottom: 1px solid #dfdddd;
  white-space: nowrap;
}

.top-row-person {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  flex-basis: calc(5% - 10px);
  margin-bottom: 5px;
  margin-top: 5px;
}

.person {
  display: flex;
  align-items: center;
  padding: 12px 16px; // Increase padding for better spacing
  margin-bottom: 10px; // Add space between chat entries
  background-color: #fff; // Use a white background for each entry
  border-radius: 15px; // Rounded corners for a modern look
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  transition: background-color 0.3s, box-shadow 0.3s; // Smooth transition for hover effects
  cursor: pointer; // Ensure it's clear these are clickable
  border: none; // Removing the border for a cleaner design
}

.person.selected {
  background-color: #54a7e7; // A light blue to indicate the selected chat
}

.person:hover {
  background-color: #f9f9f9; // A very light grey for hover, subtle indication
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); // Slightly larger shadow on hover
}

.chat-history-avatar {
  width: 40px; // Avatar size
  height: 40px; // Avatar size
  border-radius: 50%; // Circular avatar
  margin-right: 12px; // Space between avatar and text
  object-fit: cover; // Ensure the image covers the area appropriately
}

.chat-history-content {
  overflow: hidden; // Hide overflow
  display: flex; // Use flex to align the items
  flex-direction: column; // Stack name and message vertically
}

.chat-person-name {
  font-weight: bold;
  cursor: pointer; // Make the name bold
  color: #0c0c0c; // Dark color for the name
  font-size: 1rem; // Slightly larger font size for the name
  margin-bottom: 4px; // Space between name and message
}

.last-message {
  font-size: 0.85rem; // Smaller font size for the last message
  color: #3b3b3b; // Lighter text color for the message
  white-space: nowrap; // Keep it in a single line
  overflow: hidden; // Avoid text spilling out
  text-overflow: ellipsis; // Add ellipsis at the end if the text is too long
}

.header-side-nav {
  text-align: center;
  height: 5vh;
  border-radius: 20px;
  margin-bottom: 10px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.h2-chat {
  //text
  font-family: Arial, sans-serif;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-decoration: underline;
}

img.profile-pic {
  height: 40px;
  border-radius: 50%;
}

.side-nav {
  flex: 0 0 300px;
  overflow-y: auto;
  padding: 10px;
  background-color: #8e8e8e;
  border-top: 3px solid #000000;
  border-right: 3px solid #000000;
  z-index: 0;
}


.central-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  font-size: 18px;
  font-weight: bold;
  height: 7vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #e3e4e1;
  justify-content: flex-start;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.central-chat .chat-header span {
  padding-left: 20px;
  color: #474747;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

.message-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px;
}

.message {
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.sent {
  background: rgb(114, 176, 29);
  background: linear-gradient(0deg, #83b839 39%, rgb(188, 238, 70) 100%);
  color: white;
  align-self: flex-end;
  border: 1px solid #83b839;
}

.received {
  background: rgb(156, 158, 153);
  background: linear-gradient(
    0deg,
    rgb(202, 202, 199) 39%,
    rgb(240, 239, 239) 100%
  );
  align-self: flex-start;
  border: 1px solid #ccc;
}

.chat-input {
  display: flex;
  align-items: flex-start;
  margin-top: auto;
}

.input-field {
  flex: 1;
  margin-left: 10px;
}

/* Override Angular Material's input style */
.input-field mat-label,
.input-field .mat-form-field-infix {
  border-radius: 20px;
  background-color: #f0f0f0; /* Set background color */
}

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: rgb(114, 176, 29);
  background: linear-gradient(0deg, #83b839 39%, rgb(188, 238, 70) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
