
.search-container mat-form-field {
  width: 100%;
}

.chat-container {
  z-index: 1;
  display: flex;
  height: 83vh;
  width: 100%;
  overflow-x: auto;
  flex-direction: row;
  background-color: #efeded;
}

.top-row {
  height: 9vh;
  display: flex;
  padding: 10px;
  background-color: #efeded;
  transition: transform 0.3s;
  border-bottom: 1px solid #dfdddd;
  white-space: nowrap;
}

.top-row-person {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  flex-basis: calc(5% - 10px);
  margin-bottom: 5px;
  margin-top: 5px;
}

.person {
  display: flex;
  align-items: center;
  padding: 12px 16px; // Increase padding for better spacing
  margin-bottom: 10px; // Add space between chat entries
  background-color: #f4f7fa; // Use a white background for each entry
  border-radius: 15px; // Rounded corners for a modern look
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  transition: background-color 0.3s, box-shadow 0.3s; // Smooth transition for hover effects
  border: 1px solid #000000;
  cursor: pointer; // Ensure it's clear these are clickable
}

.person.selected {
  background-color: #72B01D; // A light blue to indicate the selected chat
}

.person:hover {
  background-color: #f9f9f9; // A very light grey for hover, subtle indication
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); // Slightly larger shadow on hover
}

.chat-history-avatar {
  width: 40px; // Avatar size
  height: 40px; // Avatar size
  border-radius: 50%; // Circular avatar
  margin-right: 12px; // Space between avatar and text
  object-fit: cover; // Ensure the image covers the area appropriately
}

.chat-history-content {
  overflow: hidden; // Hide overflow
  display: flex; // Use flex to align the items
  flex-direction: column; // Stack name and message vertically
}

.chat-person-name {
  font-weight: bold;
  cursor: pointer; // Make the name bold
  color: #0c0c0c; // Dark color for the name
  font-size: 1rem; // Slightly larger font size for the name
  margin-bottom: 4px; // Space between name and message
}

.last-message {
  font-size: 0.85rem; // Smaller font size for the last message
  color: #3b3b3b; // Lighter text color for the message
  white-space: nowrap; // Keep it in a single line
  overflow: hidden; // Avoid text spilling out
  text-overflow: ellipsis; // Add ellipsis at the end if the text is too long
}

.header-side-nav {
  text-align: center;
  padding: 15px 0; // More padding for a taller, balanced look
  margin-bottom: 20px; // Space before the content starts
  background-color: #f4f7fa; // Light background color for the header
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); // Subtle shadow for depth
  border: 1px solid #000000;
  border-radius: 10px; // Softer border radius 
}

.h2-chat {
  font-weight: bold;
  font-size: 24px; // Slightly reduced size for a more modern proportion
  color: #333; // Dark color for contrast
  text-decoration: none; // Remove underline for a cleaner look
  margin: 0; // Remove default margins
}

img.profile-pic {
  height: 40px;
  border-radius: 50%;
}

.side-nav {
  flex: 0 0 300px; // Fixed width for the sidebar
  overflow-y: auto; // Keep the overflow as auto for content scrolling
  padding: 20px; // Increase padding for better spacing around the content
  background-color: #ffffff; // Use a white or light background for a cleaner look
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // Soft shadow on the right to create a sense of depth
  border-top: none; // Remove the solid border top for a cleaner edge
  border-right: none; // Remove the solid border right for a cleaner edge
  border-bottom: none;
  z-index: 1; // Adjust z-index if needed to stack on top of other elements correctly
  transition: background-color 0.3s; // Smooth transition for any background color change
}


.central-chat {
  

  background: repeat;
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-left: 1px solid #000000;
  
}

.chat-header {
  justify-content: space-between;
  opacity: 0.9;
  font-size: 18px;
  font-weight: bold;
  height: 7vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #f4f7fa;
  margin-bottom: 10px;
  border-bottom: 1px solid #000000;

}

#settingsButton{
  z-index: 1;
  width: auto;
  height:10px;
  background-image: url(https://e7.pngegg.com/pngimages/873/392/png-clipart-computer-icons-icon-design-settings-3d-computer-graphics-settings.png);
  background-size: cover;
  cursor: pointer;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it appears on top of everything */
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-div {
  display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
  background-color: #fff; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  z-index: 1100; 
}

.settings-div h1{
  font-size: xx-large;
}


.central-chat .chat-header span {
  padding-left: 20px;
  color: #474747;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 20px;
}

.message-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 2px;
}

.message {
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.sent {
  background: #72B01D;
  color: white;
  align-self: flex-end;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
}

.received {
  background: rgb(156, 158, 153);
  background: linear-gradient(
    0deg,
    rgb(202, 202, 199) 39%,
    rgb(240, 239, 239) 100%
  );
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
}

.chat-input {
  z-index: 1;
  display: flex;
  align-items: flex-start;
  margin-top: auto;
}

.input-field {
  flex: 1;
  margin-left: 10px;
}

/* Override Angular Material's input style */
.input-field mat-label,
.input-field .mat-form-field-infix {
  border-radius: 20px;
  background-color: #f0f0f0; /* Set background color */
}

button {
  background-color: #F5F5F5;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 0 100px 20px 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #72B01D;
  cursor: auto;
  border:none;
}

button .mat-icon{
  cursor:pointer;
}

button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.settings-div button{
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  padding: 0; /* Remove padding to prevent additional spacing */

  /* Make sure the button does not have any border */
  outline: none; /* Remove default focus outline */

  /* Make the button behave like an inline element */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Show cursor as pointer on hover */

  border: 2px solid black;
  border-radius: 0;
}

.button-image {
  width: 100%; /* Set the image width to fill the button */
  height: 100%;/* Set the width and height of the image to fill the button */ /* Set the image height to fill the button */
  object-fit: cover; /* Ensure the image covers the button without distortion */
}